{% extends 'main_base.html' %}

{% block content %}

<h1> {{ title }} </h1>

<form method="post" action="">
    {% csrf_token %}

    <div class="form-error"> {{ form.non_field_errors }} </div>

    {% for f in form %}
    <div class="input_block">
        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
        {{ f }}

        {% if f.id_for_label == 'id_company' %}
        <a class="change_pass" href="{% url 'users:new_company' %}" title="Добавить новую компанию">Добавить новую компанию</a>
    {% endif %}

        <div class="form-error">{{ f.errors }} </div>
    </div>
    {% endfor %}

    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}
