:root {
    --white: #fff;
    --green: #116466;
    --black: #2c3531;
    --brown: #d9b08c;
    --light_brown: #ffcb9a;
    --red: #E32636;
    --yellow: #daa520;
    --medium_text: 20px;
    --large_text: 30px;
    --transition: all 0.2s ease-in-out;
    --border_r: 10px;
}

* {
    box-sizing:border-box;
}

b {
    font-weight: bold !important;
}

html body{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body.main{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

.nav_panel{
    height: 100vh;
    width: 17%;
    background-color: var(--green);
    color: var(--white);
    padding: 20px 30px;
    position: fixed;
    transition: var(--transition);
    flex-shrink: 0;
}

.nav_panel .toggle_btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    padding: 0px;
    color: var(--white);
}

.nav_panel .toggle_btn .fas{
    margin-right: -10px;
    transform: rotate(-45deg);
    font-size: 25px;
    transition: var(--transition);
}

.nav_panel .menu_title{
    font-size: var(--large_text);
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.nav_panel ul{
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.nav_panel .nav_item{
    font-size: var(--medium_text);
    color: var(--white);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    transition: var(--transition);
}

.nav_panel .nav_item .nav_icon{
    margin-right: 16px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.nav_panel .nav_item .nav_icon .fas{
    font-size: 24px;
}

.nav_panel.toggle{
    width: 3%;
    padding: 20px 5px;
}

.nav_panel.toggle .menu_title {
    display: none;
    visibility: hidden;
}

.nav_panel.toggle .nav_item {
    padding: 5px;
    justify-content: center;
}

.nav_panel.toggle .nav_item .nav_title{
    display: none;
    visibility: hidden;
}

.nav_panel.toggle .nav_item .nav_icon{
    margin-right: 0;
}

.nav_panel.toggle .toggle_btn{
    justify-content: center;
}

.nav_panel.toggle .toggle_btn .fas{
    transform: none;
    margin-right: 0;
}

.nav_panel .nav_item.active_page_link,
.list_pages .page_num.current {
    pointer-events: none;
    cursor: default;
    color: var(--brown);
}

.swiper.swiper_styles {
    width: 100%;
    height: auto;
    padding: 30px 30px 50px;
}

.main .content {
    display: flex;
    width: 83%;
    margin-left: auto;
    flex-direction: column;
    transition: var(--transition);
}

.main .content.wide {
    width: 93%;
}

.card .status_item{
    border-radius: var(--border_r);
    color: var(--white);
    width: max-content;
    padding: 10px;
    transition: var(--transition);
}

.card .supply_title {
    font-size: var(--large_text);
    font-weight: bold;
    margin-bottom: 20px;
}

.swiper_styles .swiper-slide{
    padding: 20px;
    color: var(--black);
    text-decoration: none;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
    transition: var(--transition);

}

.swiper_styles .swiper-slide.show_all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_styles .swiper-slide.show_all h3 {
    font-size: var(--medium_text);
}

.swiper_styles .navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin: 20px auto 0;
}

.swiper_styles .navigation .swiper-button-next,
.swiper_styles .navigation .swiper-button-prev,
.swiper_styles .navigation .swiper-pagination {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    margin: 0;
    height: unset;
    color: var(--green);
}

.swiper_styles .swiper-pagination-bullet-active {
    background-color: var(--green);
}

.swiper_styles .navigation .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper_styles .swiper-button-next:after,
.swiper_styles .swiper-button-prev:after{
    font-size: 15px;
    font-weight: bold
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-between;
    padding: 30px;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    color: var(--black);
    text-decoration: none;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
    transition: var(--transition);
}

.cards.two_in_row .card{
    width: 48%;
    height: unset;
}

.card .status_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.card .status_bar .status_item:not(:last-child){
    margin-right: 10px;
}

.status_item.black{
    background-color: var(--black);
}

.status_item.red{
    background-color: var(--red);
}

.status_item.yellow{
    background-color: var(--yellow);
}

.card.supply {
    width: 100%
}

.card.supply .supply_info {
    margin-bottom: 20px
}

.card .cargo_title {
    font-size: var(--medium_text);
    font-weight: bold;
    margin-bottom: 20px;
}

.table_styles {
    width: 100%;
    overflow: auto;
}

.table_styles th{
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    margin: auto 0;
}

.table_styles th,
.table_styles td {
    border: 1px solid var(--black);
    padding: 10px 5px;
}

.add_new_item {
    margin: 10px 0 10px auto;
    text-decoration: none;
    padding: 10px 15px;
    background-color: var(--light_brown);
    display: block;
    width: max-content;
    color: var(--black);
    border-radius: var(--border_r);
    font-weight: bold;
}

.file_link {
    display: inline-block;
    padding: 0 10px 10px 0;
    width: max-content;

}

.list_pages ul{
    display: flex;
    flex-direction: row;
    width: max-content;
    margin: 0 auto;
}

.list_pages .page_num {
    padding: 10px;
    background-color: transparent;
    margin-right: 10px;
    border: 1px solid var(--black);
    transition: var(--transition);
    text-decoration: none;
    color: var(--black);
}

.list_pages li:last-child .page_num{
    margin-right: 0;
}

.list_pages .page_num.current{
    background-color: var(--green);
    color: var(--white);
}

.list_pages .page_num.current{
    color: var(--white);
}

@media(hover){
    .nav_panel .toggle_btn:hover .fas{
        color: var(--brown);
        transform: rotate(45deg);
    }

    .nav_panel .nav_item:hover {
        color: var(--brown);
    }

    .nav_panel.toggle .toggle_btn:hover .fas{
        transform: rotate(90deg);
    }

    a.card:hover {
        -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.2);
    }


    a.card:hover .supply_id{
        background-color: var(--brown);
    }

    .list_pages .page_num:not(.current):hover{
        background-color: var(--brown);
    }
}
