<a href=" {% url 'add_cargo' supply_id %}">Добавить груз</a>
{% if cargos %}
<div class="cargos">
    <h2 class="cargo_title">Груз</h2>
    <ul>
        {% for cargo in cargos %}
        <li>
            <p>{{ cargo.name }}</p>
            <p>{{ cargo.description }}</p>
            <p>{{ cargo.type }}</p>
            <p>{{ cargo.weight }}</p>
            <p>{{ cargo.length }}</p>
            <p>{{ cargo.width }}</p>
            <p>{{ cargo.height }}</p>
            <p>{{ cargo.amount }}</p>
            <p>{{ cargo.units }}</p>
            <p>{{ cargo.time_create }}</p>
            <p>{{ cargo.time_update }}</p>
            <a href="{{ cargo.get_absolute_url }}"> подробнее</a>
        </li>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}