{% for supply in supplies %}
      <a href="{{ supply.get_absolute_url }}" class="swiper-slide card">
            <div class="status_bar">
                  <div class="status_item supply_id black"># {{ supply.id }}</div>
                  <div class="status_item status {{ status.color }} yellow"> {{ status.name }} в работе</div>
            </div>
            <h2 class="supply_title">{{ supply.name }}</h2>
            <h3> <b>Заказчик:</b> {{ supply.type }} </h3>
            <h3><b>Из:</b> {{ supply.start_point_address }}</h3>
            <h3><b>В:</b> {{ supply.end_point_address }}</h3>
      </a>
{% endfor %}