<div class="supply_chains">
    <h2 class="cargo_title">Этапы доставки</h2>

    <table class="table_styles cargo">
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Статус</th>
            <th>Тип</th>
            <th>Начальная точка</th>
            <th>Конечная точка</th>
            <th>Исполнитель</th>
            <th>Крайний срок</th>
            {% if supply_chains and perms.main.change_supplychain %}
            <th></th>
            {% endif %}
        </tr>
        {% if supply_chains %}
        {% for chain in supply_chains %}
        <tr>
            <td>{{ chain.serial_number }}</td>
            <td>{{ chain.name }}</td>
            <td>{{ chain.status }}</td>
            <td>{{ chain.delivery_type }}</td>
            <td>{{ chain.start_point_address }}</td>
            <td>{{ chain.end_point_address }}</td>
            <td>{{ chain.contractor }}</td>
            <td>{{ chain.deadline }}</td>
            {% if supply_chains and perms.main.change_supplychain %}
            <td><a href="{% url 'supply_chain' supply_id chain.id %}">подробнее</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    {% if perms.main.add_supplychain %}
    <a href=" {% url 'add_supply_chain' supply_id %}" class="add_new_item">Добавить этап</a>
    {% endif %}
</div>
