<a href=" {% url 'add_supply_chain' supply_id %}">Добавить этап</a>
{% if supply_chains %}
<div class="supply_chains">
    <h2 class="cargo_title">Этапы доставки</h2>
    <ul>
        {% for chain in supply_chains %}
        <li>
            <p>{{ chain.name }}</p>
            <p>{{ chain.supply }}</p>
            <p>{{ chain.status }}</p>
            <p>{{ chain.delivery_type }}</p>
            <p>{{ chain.serial_number }}</p>
            <p>{{ chain.start_point_address }}</p>
            <p>{{ chain.end_point_address }}</p>
            <p>{{ chain.time_create }}</p>
            <p>{{ chain.time_update }}</p>
            <p>{{ chain.deadline }}</p>
            <a href="{{ chain.get_absolute_url }}">подробнее</a>
        </li>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}